<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <link rel="stylesheet" href="/public/css/cart.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="logo"></div>
      <div class="mainPage" onclick="moveMain()">TimeMirror</div>
      <div class="icon">
        <div onclick="ready()">로그인</div>
        <div onclick="moveCart()">장바구니</div>
      </div>
    </div>
    <div class="main"></div>
    <div class="btn">
      <button onclick="pat()" class="buy payment-button">전체 구매</button>
      <button onclick="delAllData()" class="delAll">전체 삭제</button>
    </div>
  </body>
  <script src="https://js.tosspayments.com/v1/payment"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script src="/public/js/cart.js"></script>
</html>
