<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .compelet {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 300px;
    }

    .compelet div {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    a {
      display: block;
      margin-top: 20px;
      text-decoration: none;
      color: #007bff;
      font-size: 16px;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
  <body>
    <div class="compelet"><div>결제중</div></div>
    <a href="/">메인으로 돌아가기</a>

    <script src="https://js.tosspayments.com/v1/payment"></script>
    <script>
      const div = document.querySelector(".compelet");
      // 페이지 로드 시 실행
      document.addEventListener("DOMContentLoaded", async () => {
        // 현재 URL에서 쿼리 파라미터를 가져옴
        const urlParams = new URLSearchParams(window.location.search);

        // 각 파라미터 값 추출
        const orderId = urlParams.get("orderId");
        const paymentKey = urlParams.get("paymentKey");
        const amount = urlParams.get("amount");

        // 값이 모두 있는지 확인
        if (orderId && paymentKey && amount) {
          try {
            // API 요청을 위한 URL과 헤더 설정
            const url = "https://api.tosspayments.com/v1/payments/confirm";
            const options = {
              method: "POST",
              headers: {
                Authorization:
                  "Basic dGVzdF9za196WExrS0V5cE5BcldtbzUwblgzbG1lYXhZRzVSOg==", // 실제 API Key로 변경해야 함
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                paymentKey: paymentKey,
                orderId: orderId,
                amount: amount,
              }),
            };

            // Fetch API를 통해 POST 요청 보내기
            const response = await fetch(url, options);

            // 응답 처리
            const data = await response.json();
            if (response.ok) {
              console.log("결제 성공:", data);
              div.innerHTML = `<div>결제 완료</div>
              <div>주문명 : ${data.orderName}</div>
              <br>
             <div> 가격 : ${data.balanceAmount.toLocaleString()}원</div>
             <br>
             <div>TimeMirror를 이용해주셔서 감사합니다.</div>`;
            } else {
              console.log("결제 실패:", data);
            }
          } catch (error) {
            console.error("API 요청 오류:", error);
          }
        } else {
          console.error("쿼리 파라미터가 부족합니다.");
        }
      });
    </script>
  </body>
</html>
