<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/write.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- 에디터 -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <!-- 에디터 -->
  </head>
  <body>
    <div class="header">
      <div class="logo"></div>
      <div class="mainPage" onclick="moveMain()">TimeMirror</div>
      <div class="icon">
        <div>로그인</div>
        <div onclick="moveCart()">장바구니</div>
      </div>
    </div>

    제품 수정
    <div class="container box">
      제품명
      <input class="name" type="text" value="<%= oneData[0].name%>" />
    </div>
    <div class="box">
      상세설명

      <div name="detail" id="editor">내용 입력</div>
    </div>
    <button onclick="updataData('<%= oneData[0].id%>')">수정완료</button>
  </body>
  <script>
    const editor = new toastui.Editor({
      el: document.querySelector("#editor"), // 에디터를 적용할 요소 (컨테이너)
      height: "500px", // 에디터 영역의 높이 값 (OOOpx || auto)
      initialEditType: "wysiwyg", // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
      initialValue: `<%- oneData[0].detail %>`, // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
    });
  </script>
  <script src="/public/js/write.js"></script>
</html>
